{% extends "layout.html" %}

{% block title %}
    Menu
{% endblock %}

{% block main %}
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>


<div class="row">
    <div class="column">
        <label for="meniu"><h1>Summer Rolls $12.50</h1></label>
        <p class="w3-text-grey">ryžių popieriaus suktinukas su krevetėmis, kimchi, salotų lapais, agurkais, česnakų laiškais ir sojų pupelių makaronais</p>
        <input type="number" name="quantity" min="1" max="10">
        <button class="" type="submit">Order</button>

        <label for="meniu"><h1>Summer Rolls $12.50</h1></label>
        <p class="w3-text-grey">ryžių popieriaus suktinukas su krevetėmis, kimchi, salotų lapais, agurkais, česnakų laiškais ir sojų pupelių makaronais</p>
        <input type="number" name="quantity" min="1" max="10">
        <button class="" type="submit">Order</button>
    </div>
        <label for="meniu"><h1>Sūrio kamuoliukai $12.50</h1></label>
        <p class="w3-text-grey">gruzdinti sūrio kamuoliukai, patiekiami su miso majonezu</p>
        <input type="number" name="quantity" min="1" max="10">
        <button class="" type="submit">Order</button>

        <label for="meniu"><h1>Sūrio kamuoliukai $12.50</h1></label>
        <p class="w3-text-grey">gruzdinti sūrio kamuoliukai, patiekiami su miso majonezu</p>
        <input type="number" name="quantity" min="1" max="10">
        <button class="" type="submit">Order</button>
  </div>
</div>

</body>
    <form action="/menu" method="post">
        <div class="form-group">
            <label for="meniu"><h1>Summer Rolls $12.50</h1></label>
            <p class="w3-text-grey">ryžių popieriaus suktinukas su krevetėmis, kimchi, salotų lapais, agurkais, česnakų laiškais ir sojų pupelių makaronais</p>
            <input type="number" name="quantity" min="1">
            <button class="" type="submit">Order</button>
            <input class="" name="symbol" placeholder="Meal" type="text" required>
        </div>
        <div class="form-group">
            <input class="" name="" placeholder="Amount" type="number" min="1">
        </div>
        <button class="" type="submit">Order</button>
    </form>

{% endblock %}