{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
<form action="/change" method="post">
            <div class="form-group">
                <input class="form-control" name="oldpassword" placeholder="Write old password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="newpassword" placeholder="Write new password" type="password">
            </div>
             <div class="form-group">
                <input class="form-control" name="newpassword_confirm" placeholder="Confirm new password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Change password</button>
        </form>
{% endblock %}
